@import "../common.scss";

.MyHeart_section {
  margin-top: 80px;
}

.MyHeart_section {
  width: 100%;
  position: relative;

  .MyHeart_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid $mute4;
    p {
      padding-bottom: 10px;
      font-weight: 600;
      font-size: $h4;
      line-height: 30px;
      position: relative;
    }
    .listMore {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
  }
}

.MyHeart_artwrap {
  margin-top: 20px;
  h4 {
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.MyHeart_thumbnail {
  display: flex;
  flex-wrap: wrap;
  .MyHeart_text {
    font-size: $commonfont;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  li {
    flex: none;
    width: 20%;
    padding: 0 0 40px 20px;
    box-sizing: border-box;
  }
}
