@import "../common.scss";

tbody {
  tr {
    .btn_td {
      padding: 10px;
    }
  }
}

.disabledID {
  width: 300px;
  vertical-align: top;
  padding: 10px;
  color: $gray;

  input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 14px;
    line-height: 13px;
    font-weight: inherit;
    color: #353535;
    border: 1px solid #d7d5d5;
    border-radius: 0px;
    outline-style: none;
    box-sizing: border-box;
    margin: 5px 0 5px 0; // Add margin bottom to all text inputs
  }
}

.authenticationBtn {
  width: 100%;
  background-color: $white;
  color: $mute4;
  height: 50px;
  padding: 10px 16px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid $mute4;
  font-size: 16px;
  font-weight: $weight2;
}

.authenticationBtn_short {
  width: 195px;
  height: 40px;
  padding: 8px 16px;
  background-color: $white;
  color: $mute4;
  border: 2px solid $mute4;
  font-weight: $weight2;
}
.input_authentication {
  border: 1px solid $lightgray;
  color: $black;
  margin: 10px;
  padding: 10px;
  outline: none;
  font-size: 14px;
  width: 100px;
}
