@import "../common.scss";

tbody {
  tr {
    .btn_td {
      padding: 10px;
    }
  }
}

.authenticationBtn {
  width: 100%;
  background-color: $white;
  color: $mute4;
  height: 50px;
  padding: 10px 16px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid $mute4;
  font-size: 16px;
  font-weight: $weight2;
}

.authenticationBtn_short {
  width: 195px;
  height: 40px;
  padding: 8px 16px;
  background-color: $white;
  color: $mute4;
  border: 2px solid $mute4;
  font-weight: $weight2;
}
.input_authentication {
  border: 1px solid $lightgray;
  color: $black;
  margin: 10px;
  padding: 10px;
  outline: none;
  font-size: 14px;
  width: 100px;
}
