@import "../common.scss";

.MyOrderList {
  h3 {
    font-size: 22px;
    padding-bottom: 10px;
  }
}

.MyOrderList_contents {
  border-top: 4px solid $mute4;
}

.MyOrderList_table {
  width: 100%;
  table-layout: fixed;
  thead {
    width: 100%;
    min-height: 73px;
    font-size: 18px;
    font-weight: 700;
    line-height: 72px;
    th {
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
  }
  tbody {
    border-top: 3px solid $mute4;
    tr {
      td {
        padding-bottom: 20px;
        &:nth-child(1) {
          width: 60%;
        }
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 20%;
        }
      }
    }
  }
}

.MyOrderList_orderInfo {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 16px 0px;
  border-bottom: 1px solid rgb(228, 228, 228);

  a {
    display: flex;
    span {
      &.bold {
        font-weight: $weight3;
      }
    }
  }
}

.MyOrderList_detailWrap {
  cursor: pointer;
  display: flex;
  gap: 10px;
  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-color: gray;
  }
}

.MyOrderList_detail {
  padding-bottom: 10px;

  &.name {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.MyOrderList_progress,
.MyOrderList_review {
  text-align: center;
}

.MyOrderList_review {
  gap: 10px;

  a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: $mute4;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
}

.OrderListEmpty {
  padding-top: 10px;
  float: right;
}
