@import "../common.scss";

.RecentOrders_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $mute4;
  div {
    display: flex;
    align-items: center;
  }
}

.RecentOrders_section {
  width: 100%;
  position: relative;

  p {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: $h4;
    line-height: 30px;
    position: relative;
  }
  a {
    font-size: 14px;
  }
}

.RecentOrders_table {
  width: 100%;
  border-collapse: collapse;

  .RecentOrders_thead,
  .RecentOrders_tbody {
    border-bottom: 1px solid #303033;
    align-items: center;

    th,
    td {
      padding: 10px 0;
      font-size: $commonfont;
      font-weight: $weight3;
    }
  }

  .RecentOrders_thead {
    th {
      height: 30px;
    }
  }

  .RecentOrders_tbody {
    td {
      min-height: 60px;
    }

    .history {
      display: flex;
      align-items: center;

      .img_box {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100px;
          height: 100px;
          background-color: gray;
        }
      }

      .prd_order {
        padding-left: 10px;
      }
    }
  }
}
