@import "../common.scss";

.loginForm {
  padding-top: 10rem;
}

.login_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 60px;
  width: 350px;
  min-height: 550px;
  margin: 0 auto;
}

.login_wrap {
  display: flex;
  flex-direction: column;
}

.loginPlaceholder {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  strong {
    color: $black;
    padding-bottom: 10px;
  }
}

.login_wrap input[type="text"],
.login_wrap input[type="password"] {
  outline: none;
  height: 45px;
  padding: 10px 15px;
}

.loginBtn_wrap {
  > button {
    width: 350px;
    height: 50px;
    font-size: 16px;
    font-weight: $weight2;
    padding: 10px 0;
    border: none;
    background-color: $mute4;
    color: $white;

    &:hover {
      background-color: $mute5;
      transition: 0.12s ease-out;
    }
  }
}

.login_util {
  font-size: 14px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  li {
    a {
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: $mute4;
      }
    }
  }
}

.sns_loginWrap {
  button {
    border: none;
    outline: none;
  }
}
