@import "../common.scss";

.ProductDetail_wrap {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  padding: 0rem 10rem;
  min-width: 1000px;
  max-width: 1600px;
}

.productImg_section {
  width: 50%;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid $gray;
}

.productInfo_section {
  position: sticky;
  top: 120px;
  width: 55%;
  height: calc(100vh - 120px);
}

.productInfo_wrap {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.productInfo_top {
  display: flex;
  flex-direction: column;
}

.product_header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

.product_NamePrice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productName {
  font-size: 18px;
  font-weight: bold;
}

.productPrice {
  font-size: 16px;
  color: $gray;
}

.wishList_icon {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 24px; // 아이콘 크기 설정
}

.product_desc {
  width: 100%;
  border-top: 1px solid $lightgray;
  padding-top: 20px;
  font-size: 14px;
  color: $black;
}

.productInfo_middle {
  border-top: 1px solid $lightgray;
  margin-top: 20px;
  padding: 20px 0;
  li {
    display: flex;
    float: left;
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 0px 0;
    label {
      display: block;
      padding: 15px 0;
      font-size: 12px;
      text-transform: uppercase;
      width: 40%;
      float: left;
    }
    .product_optionValue {
      float: right;
      width: 60%;
      padding: 5px 0 5px 20px;
      border-left: 1px solid $lightgray;
    }
  }
}

.productOption1,
.productOption2 {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 13px;
  font-family: inherit;
  border: 1px solid #a9a9a9;
  color: $gray;
  background: transparent;
}

.product_btnWrap {
  border-top: 1px solid $lightgray;
  padding: 20px 0;
  display: flex;
  justify-content: space-between; 
}

.buyNow_btn,
.addToCart_btn {
  flex: 1; 
  margin-right: 10px; 

  &:last-child {
    margin-right: 0; 
  }

  a {
    display: block;
    height: 45px; 
    line-height: 45px;
    text-align: center;
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold;
  }
}

.buyNow_btn a {
  background: #000;
  color: #fff;
}

.addToCart_btn a {
  background: #f8f8f8;
  color: #000;
  border: 1px solid $lightgray;
}

.wishList_icon {
  svg {
    width: 24px;
    height: 24px;
    color: #ff0000;
  }
}
