//색상
$mute1: #f0eaee;
$mute2: #e4d8dd;
$mute3: #cfc0c5;
$mute4: #b8999f;
$mute5: #d6dde3;
$black: rgb(60, 60, 60); // 기본 글씨 색상
$white: #ffffff;
$red: #ef392f;
$lightgray: rgb(190, 195, 200); //border-line
$gray: #6d6d6d;
$darkgray: rgb(61, 69, 77); //$
$star: rgb(255, 174, 0); //별아이콘 색상
$mypage_btn1: #3d7253;

//글씨 크기 및 굵기
$h1: 25px;
$h2: 22px;
$h3: 19px;
$h4: 17px;
//기본 글씨크기 : 16px

//글씨 굵기 h1는 800, 이외에는 700
$weight1: 800;
$weight2: 700;
$weight3: 600;

//border 반경
$radius1: 25px;
$radius2: 20px;
$radius3: 15px;
$radius4: 6px;

//화면 전체 padding
$screenPadding:30px 50px;