@import "./common.scss";

.slider_container {
  .swiper-slide img {
    width: 100%;

  }

  .swiper-pagination-bullet {
    background-color: $white;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $lightgray;
  }
}

.bnImg {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  img {
    width: 500px;
  }
}
