@import "./common.scss";

.MainContainer {
  height: 100vh;
}
.mainGrid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
#intro_main {
  display: flex;
  min-height: calc(100vh - 0px);
}
.mainMenus,
.mainImages {
  width: 50%;
}
.mainMenus {
  ul {
    display: block;
    padding: 3rem;
    li {
      color: $black;
      cursor: pointer;
      margin-bottom: 1rem;
      a {
        font-size: 4rem;
        line-height: 70px;
      }
      &:hover {
        font-style: italic;
        color: $mute4;
      }
    }
  }
}
