@import "../common.scss";

header {
  width: 100%;
  padding: 15px 50px;
  line-height: 16px;
  font-size: 16px;
  z-index: 99;
  border-bottom: 1px solid $darkgray;
  background: #fffefc;
  transition: ease 0.25s;
}

.header_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header_logo {
  img {
    width: 6rem;
  }
}

.header_flex {
  display: flex;
  justify-content: space-between;

  .header_user {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: $h2;

    .header_member,
    .header_like,
    .header_mybag,
    .header_log {
      width: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      svg {
        font-size: 22px; // 아이콘 크기 조정
      }

      p {
        font-size: 12px;
        margin: 0; // 기본 margin 제거
      }
    }
  }
}

.header_menu_container {
  margin: 0 auto;
  padding-right: 50px;
}

.header_menu_category {
  display: flex;
  justify-content: center;
}

.menu_category_li {
  display: inline-block;
  margin: 0 40px;
  position: relative;
  a {
    cursor: pointer;
    position: relative;
    z-index: 88;
    text-transform: uppercase;
    font-size: $h4;
    color: $black;
    font-weight: $weight3;
  }
}

.menu_category_li:hover .subCategory {
  display: block;
  max-height: 500px;
}

.noSubCategory:hover .subCategory {
  display: none;
  max-height: 0;
}

.subCategory {
  display: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  padding: 20px 0;
  width: 300px;
  left: 0;
  line-height: 22px;
  z-index: 86;
  transition: max-height 0.3s ease;
  li {
    line-height: 20px;
    margin: 0 0 3px;
    a {
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      outline: none;
      color: #222;
      display: inline-block;
      transition: ease 0.5s;
    }
  }
}
