@import "../common.scss";

.mybag_quantity_column {
  align-content: center;
  .style {
    display: inline-block;
    width: 108px;
  }
}

.mybag_quantity_wrap {
  width: 110px;
  display: flex;

  button {
    width: 35px;
    height: 35px;
    font-size: 18px;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    color: $gray;
    cursor: pointer;
  }

  input {
    width: 40px;
    text-align: center;
    border: 1px solid #e4e4e4;

    &:first-of-type {
      border-right: none;
    }

    &:last-of-type {
      border-left: none;
    }
  }
}
